@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 30px;
    color: #fe5901;
}
.franjarosa{
    border: 5px #ff3281 solid;
    width: 100%;
    margin: auto;
}
.textoscentrales{
    padding: 20px;
    color: #010101;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
header{
    background-color: #fff9f1;
    color: #010101;
    margin: auto;
}
.triste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
header section{
    max-width: 1200px;
    margin: auto;
}
header article{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menumovil{
    visibility: hidden;
}
.redessociales{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.menucompleto{
    font-family: "Oswald";
    font-size: 16px;
    font-weight: 800;
    border: 2px #010101 solid;
    padding: 10px;
}
.menucompleto ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menucompleto a{
    text-decoration: none;
    color: #010101;
}
.imagenprincipal{
    max-width: 1800px;
    background-image: url("imagenes/slide1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
}
.imagenprincipal p{
    font-size: 20px;
    font-weight: 500;
}
.contenidoslide{
    max-width: 500px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.botones{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.btnlleno{
    text-decoration: none;
    background-color: #ff3281;
    padding: 20px 30px;
    border-radius: 6px;
    color: white;
}
.btnborde{
    border: 1px #ff3281 solid;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 6px;
    color: white;
}
.productos{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #010101;
}
.productostexto{
    max-width: 600px;
}
.productos img{
    border: 8px #589455 solid;
}
.nuestroequipobg{
    margin: auto;
    max-width: 1800px;
    background-color: #fff9f1;
    color: #010101;
}
.nuestroequipo{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nuestroequipo figure img{
    width: 590px;
    height: 500px;
    border-radius: 20px;
}
.contgral{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #292929;
}
.cajascontenedoras{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    background-color: #FFE8A4;
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
}
.cajascontenedoras figure img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 8px white solid;
}
.cajascontenedoras h1{
    text-align: center;
}
.cajascontenedoras p{
    text-align: justify;
}
.galeria{
    flex-wrap: nowrap;
    margin: auto;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.galeriaizq{
    width: 900px;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeriaizq {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.galeriaizq img{
    width: 100%;
    height: 300px;
}

.galeriader{
    display: flex;
    width: 50%;
    height: 600px;
}
footer{
    margin: auto;
    text-align: center;
}
footer a{
    color: #ff3281;
    text-decoration: none;
}
.blue{
    color: #ff3281;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

/*TRANSICIONES*/
.nuestroequipo img{
    filter: sepia(100%);
    transition: all .5s;
}
.nuestroequipo img:hover{
    filter: sepia(0%);
}
.filtro{
    background-color: white;
    opacity: 50%;
    transition: all .5s;
}

.filtro:hover{
    opacity: 100%;
}

@media screen and (max-width: 768px){

    header section{
        max-width: 700px;
        margin: auto;
    }
    .imagenprincipal{
        max-width: 768px;
        height: 450px;
    }
    .productos{
        max-width: 700px;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        color: #010101;
    }
    .productostexto{
        max-width: 100%;
    }
    .productostexto h1{
        text-align: center;
        padding-top: 20px;
    }
    .productos img{
        border: 8px #589455 solid;
    }
    .nuestroequipobg{
        margin: auto;
        max-width: 768px;
        background-color: #fff9f1;
        color: #010101;
    }
    .nuestroequipo{
        max-width: 700px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .nuestroequipotextos{
        padding-top: 30px;
        max-width: 700px;
    }
    .contgral{
        max-width: 700px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .cajascontenedoras{
        height: 500px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .galeria{
        margin: auto;
        max-width: 768px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
    }
    .galeriaizq{
        margin: auto;
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .galeriaizq img{
        margin: auto;
        width: 380px;
        height: 380px;
    }
    .galeriader img{
        width: 768px;
        height: 500px;
    }
}
@media screen and (max-width: 480px){
    body{
        max-width: 480px;
    }
    .menucompleto{
        display: none;
    }
    .menumovil{
        font-size: 20px;
        padding: 10px 15px;
        color: white;
        background-color: #ff3281;
        border-radius: 6px;
        align-items: center;
        visibility: visible;
    }
    .solomovil{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .triste{
        display: flex;
        flex-direction: column;
    }
    .fb{
        order: 3;
    }
    .ig{
        order: 1;
    }
    .twt{
        order: 2;
    }
    .productos{
        max-width: 460px;
    }
    .nuestroequipobg{
        max-width: 480px;
    }
    .nuestroequipo{
        max-width: 460px;
    }
    .nuestroequipo figure{
        max-width: 460px;
        overflow: hidden;
    }
    .contgral{
        max-width: 460px;
    }
    .cajascontenedoras{
        height: 600px;
    }
    .galeria{
        max-width: 480px;
        margin: auto;
    }
    .galeriaizq img{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 480px;
    }
    .galeriader{
        width: 480px;
        height: 300px;
    }
}